@mixin coachings($color) {
    .service-category {
        border: 2px solid $color;
        h3,
        > [class^="icon-"],
        > [class*="icon-"] {
            color: $color;
        }
        .btn-wrapper {
            a.btn {
                > span {
                    background-color: $color;
                }
                &:hover span:last-of-type {
                    background-color: transparent;
                    color: $color;
                    outline: 1px solid $color;
                    outline-offset: -1px;
                }
            }
        }
    }
}
.service-category {
    .btn-wrapper {
        //position: absolute;
        justify-content: start;
        a {
            display: inherit;
        }
    }
}
.office-courses {
    @include coachings($color-office);
}
.grafik-courses {
    @include coachings($color-grafik);
}
.coding-courses {
    @include coachings($color-coding);
}

.smm-courses {
    @include coachings($color-smm);
    .service-category {
        .btn-wrapper {
            a.btn {
                > span {
                    color: $primary-white;
                }
            }
        }
    }
}
/* ************************************* RESPONSIVE **************************************** */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
OFFICE COURSES RESPONSIVE
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (min-width: 768px) {
    .office-courses,
    .grafik-courses,
    .coding-courses,
    .smm-courses {
        .service-category {
            position: relative;
            padding-bottom: 4rem;
            > span {
                display: block;
                text-align: center;
                margin-bottom: 1rem;
            }
            h3 {
                display: block;
                text-align: center;
            }
            p {
                hyphens: auto;
                text-align: justify;
            }
            .btn-wrapper {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
            }
        }
    }
}
@media only screen and (min-width: 1024px) {
    .office-courses,
    .grafik-courses,
    .coding-courses,
    .smm-courses {
        .service-category {
            > [class^="icon-"],
            > [class*="icon-"] {
                font-size: 3rem;
            }
        }
    }
}
