aside#kontakt{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#content.container{
    padding-left: 5%;
    padding-right: 5%;
}
#content{
    .sidebar{
        padding-top: 0;
        padding-bottom: 0;
    }
}