

// Colors
$dark-blue: #1E3243;
$white: #fff;
$black: #000;
$color-background: #e4e4e4;// #1E3243;
$color-office: #85C69F;
$color-grafik: #FF818C;
$color-smm: #3B6486;
$color-coding: #DFCC64;
$primary-black: #2E2E2E;
$primary-white: #F0F0F0;

//-------------------------------------
//Abstände und Höhe
$nav-height: 70px;


//>>>>>>>>>>>>>>>>>>>>>>>>>
//FONTS
//<<<<<<<<<<<<<<<<<<<<<<<<<
$font-default: 'Roboto', sans-serif;
$font-headline: 'Montserrat', sans-serif;

